* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #00050f;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.header {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  background-color: #00050f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 7rem;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header__lang .lang-selected {
  font-weight: 700;
}

.header__button {
  background: none;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  color: white;
  border: none;
}

.header__button:focus-within {
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.navbar__home {
  color: #00faa0;
}

.navbar__contact {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
  color: #00faa0;
  font-size: 1.2rem;
  border: 2px solid #00faa0;
  border-radius: 8px;
  padding: 0.4em 1.5rem;
}

.navbar__contact:hover {
  background-color: #00faa01a;
}

.intro {
  padding: 9rem 0;
  overflow-x: hidden;
}

.intro__hi {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
  padding: 0 7rem;
}

.intro__name {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 700;
  color: #00faa0;
  background-image: -webkit-gradient(linear, left top, right top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to right, #00faa0, #0587b9, #001441, #001441);
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro__desc {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
  margin-top: 3.5rem;
  padding: 0 7rem;
  width: 49%;
}

.about {
  margin: 0 15vmax;
  padding: 2em 0;
  width: 50vmax;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "image desc" "skills skills";
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
  row-gap: 1.5rem;
}

.about__desc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
}

.about__image-container {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.about__image-container::before {
  position: absolute;
  content: "";
  top: 1.5em;
  right: 4em;
  width: 90%;
  height: 99%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
  border-radius: 8px;
  z-index: -1;
}

.about__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  border-radius: 8px;
  max-width: 100%;
}

.about__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.about__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 2rem;
  color: transparent;
}

.about__desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}

.about__desc-item {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.about__skills-gradient {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: skills;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
  padding: 0.1rem;
}

.about__skills-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 1rem;
  background-color: #00050f;
  padding: 1rem;
  border-radius: 8px;
}

.about .skills-title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
}

.about__skills-item {
  list-style: none;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.about__skills-li {
  margin-left: 1.5rem;
}

.about__skills-li::before {
  content: "\2022";
  color: #0587b9;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.services {
  margin: 0 15vw;
  width: 50vmax;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
  margin: 2rem 0;
  position: relative;
}

.services__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 4rem;
  color: transparent;
}

.services__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
  list-style: none;
}

.services .bullet {
  color: #00faa0;
  padding: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.4rem;
}

.services__li {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232733;
  border-radius: 8px;
  padding: 1rem 0;
}

.projects {
  margin-top: 6rem;
}

.projects__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15vw;
  width: 50vmax;
}

.projects__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.projects__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 3.5rem;
  color: transparent;
}

.projects__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(450px, 1fr));
  -ms-grid-rows: (minmax(450px, 1fr))[2];
      grid-template-rows: repeat(2, minmax(450px, 1fr));
  padding: 3rem 0;
}

.projects__card {
  background-color: #00482e;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .beach {
  background-image: url("../images/beach.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/beach.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .beach:hover {
  background-image: url("../images/beach.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/beach.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .camera {
  background-image: url("../images/camera.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/camera.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .camera:hover {
  background-image: url("../images/camera.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/camera.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .coffee {
  background-image: url("../images/coffee.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/coffee.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .coffee:hover {
  background-image: url("../images/coffee.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/coffee.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .jump {
  background-image: url("../images/jump.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/jump.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .jump:hover {
  background-image: url("../images/jump.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/jump.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .path {
  background-image: url("../images/path.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/path.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .path:hover {
  background-image: url("../images/path.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/path.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .starry {
  background-image: url("../images/starry.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/starry.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .starry:hover {
  background-image: url("../images/starry.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/starry.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects__type {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-weight: bold;
  background-color: #00faa0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232733;
  border-radius: 13px;
  padding: 0.1em 0.7em;
}

.projects__name {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
}

.projects__desc {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.experience {
  margin: 0 15vw;
  margin-top: 10rem;
}

.experience__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vmax;
}

.experience__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.experience__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 4rem;
  color: transparent;
}

.experience__timeline-container {
  width: 50vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.experience__timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}

.experience__date {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  white-space: nowrap;
  color: #00faa0;
  margin-top: 0.2rem;
  position: relative;
}

.experience__date::before {
  position: absolute;
  content: "\2022";
  font-size: 1.35rem;
  right: -2.5rem;
}

.experience__date::after {
  position: absolute;
  content: "";
  background-color: #00faa0;
  width: 1px;
  height: 135%;
  right: -2.14rem;
  bottom: -4rem;
}

.experience__text-title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
}

.experience__text-date {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  color: #87879b;
}

.experience__text-desc {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.contact {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 10rem;
}

.contact__intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-right: -30rem;
}

.contact__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
  width: 65%;
}

.contact__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 60%;
  color: transparent;
}

.contact__email {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  letter-spacing: 0.26px;
  color: #87879b;
}

.contact__wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
  padding: 0.06rem;
  border-radius: 8px;
  margin-left: -15rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: start;
  gap: 0.5rem;
  background-color: #00050f;
  padding: 2.5rem;
  border-radius: 8px;
}

.contact__form ::-webkit-input-placeholder {
  color: #87879b;
}

.contact__form :-ms-input-placeholder {
  color: #87879b;
}

.contact__form ::-ms-input-placeholder {
  color: #87879b;
}

.contact__form ::placeholder {
  color: #87879b;
}

.contact__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.25rem;
}

.contact__form-text-input {
  background-color: #232733;
  height: 3rem;
  font-size: 1.25rem;
  padding: 0.5em;
  color: white;
  border: none;
  border-radius: 4px;
}

.contact__form textarea {
  width: 368px;
  height: 184px;
}

.contact__submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  background-color: #00050f;
  border: 2px solid #00faa0;
  border-radius: 8px;
  color: #00faa0;
}

.footer {
  background-color: #232733;
  color: #87879b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "IBM Plex Sans", monospace, sans-serif;
}

.footer__text {
  margin: 0 auto;
}

.footer__link {
  color: #87879b;
}

@media only screen and (max-width: 1000px) {
  .intro {
    padding: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__hi {
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #e6e6fa;
    padding: 0 2rem;
  }
  .intro__desc {
    padding: 0 2rem;
    width: auto;
    font-size: 1rem;
  }
  .about {
    margin: 0 2.5rem;
    padding: 0;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .about__image-container {
    margin: 0 auto;
    width: 312px;
    height: 100%;
  }
  .about__image-container::before {
    inset: 1rem 1rem -1rem 0;
    width: auto;
    height: auto;
  }
  .about__image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    margin-left: 0.5rem;
    width: 312px;
    height: 312px;
    border-radius: 8px;
  }
  .about__title {
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 700;
    color: #e6e6fa;
  }
  .about__desc {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: desc;
  }
  .about__desc-item {
    font-family: "IBM Plex Sans", monospace, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  .about__skills-gradient {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: skills;
    background: none;
    padding: 0;
  }
  .about__skills-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    margin-right: -2rem;
    white-space: nowrap;
    overflow-x: auto;
  }
  .about__skills-mobile-gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
    background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
    padding: 1.5px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about__skills-item {
    background-color: #00050f;
    padding: 1rem;
    border-radius: 8px;
  }
  .services {
    display: none;
  }
  .projects {
    display: none;
  }
  .experience {
    display: none;
  }
  .contact {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */