* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #00050f;
  color: white;
}

.bold-text {
  font-weight: bold;
}

.header {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  background-color: #00050f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 7rem;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header__button {
  background: none;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  color: white;
  border: none;
}

.header__button:focus-within {
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  font-size: 1.1rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.navbar__home {
  color: #00faa0;
}

.navbar__contact {
  color: #00faa0;
  font-size: 1.2rem;
  border: 2px solid #00faa0;
  border-radius: 8px;
  padding: 0.4em 1.5rem;
}

.intro {
  padding: 9rem 0;
  overflow-x: hidden;
}

.intro__hi {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
  padding: 0 7rem;
}

.intro__name {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 700;
  color: #00faa0;
  background-image: -webkit-gradient(linear, left top, right top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to right, #00faa0, #0587b9, #001441, #001441);
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.intro__desc {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
  margin-top: 3.5rem;
  padding: 0 7rem;
  width: 49%;
}

.about {
  margin: 0 15vw;
  padding: 2em 0;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "image desc" "skills skills";
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.5rem;
}

.about__desc {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: desc;
}

.about__image-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
  margin: 1.5rem 1rem;
  border-radius: 8px;
  max-width: 27vw;
}

.about__image {
  border-radius: 8px;
  -webkit-transform: translate(1.1em, -0.8em);
          transform: translate(1.1em, -0.8em);
  max-width: 30vmax;
}

.about__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.about__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 2rem;
  color: transparent;
}

.about__desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}

.about__desc-item {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.about__skills-gradient {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: skills;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to bottom, #00faa0, #0587b9, #001441, #001441);
}

.about__skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem;
  padding: 2rem 1rem;
  margin: 0 auto;
  margin-top: 0.05em;
  border-radius: 8px;
  background-color: #00050f;
  width: 99.5%;
  height: 99%;
}

.about .skills-title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
}

.about__skills-item {
  list-style: none;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.about__skills-li {
  margin-left: 1.5rem;
}

.about__skills-li::before {
  content: "\2022";
  color: #0587b9;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.services {
  margin: 0 15vw;
  max-width: 800px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
  margin: 2rem 0;
  position: relative;
}

.services__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 4rem;
  color: transparent;
}

.services__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
  list-style: none;
}

.services .bullet {
  color: #00faa0;
  padding: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.4rem;
}

.services__li {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232733;
  border-radius: 8px;
  padding: 1rem 0;
}

.projects {
  margin-top: 6rem;
}

.projects__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15vw;
  max-width: 800px;
}

.projects__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.projects__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 3.5rem;
  color: transparent;
}

.projects__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(450px, 1fr));
  -ms-grid-rows: (minmax(450px, 1fr))[2];
      grid-template-rows: repeat(2, minmax(450px, 1fr));
  padding: 3rem 0;
}

.projects__card {
  background-color: #00482e;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .beach {
  background-image: url("../images/beach.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/beach.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .beach:hover {
  background-image: url("../images/beach.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/beach.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .camera {
  background-image: url("../images/camera.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/camera.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .camera:hover {
  background-image: url("../images/camera.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/camera.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .coffee {
  background-image: url("../images/coffee.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/coffee.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .coffee:hover {
  background-image: url("../images/coffee.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/coffee.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .jump {
  background-image: url("../images/jump.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/jump.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .jump:hover {
  background-image: url("../images/jump.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/jump.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .path {
  background-image: url("../images/path.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/path.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .path:hover {
  background-image: url("../images/path.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/path.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects .starry {
  background-image: url("../images/starry.jpg"), -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), to(white));
  background-image: url("../images/starry.jpg"), linear-gradient(to top, #e6e6e6, white);
}

.projects .starry:hover {
  background-image: url("../images/starry.jpg"), -webkit-gradient(linear, left bottom, left top, color-stop(10%, black), to(white));
  background-image: url("../images/starry.jpg"), linear-gradient(to top, black 10%, white);
  background-color: #00faa01a;
  background-blend-mode: multiply;
}

.projects__type {
  justify-self: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-weight: bold;
  background-color: #00faa0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #232733;
  border-radius: 13px;
  padding: 0.1em 0.7em;
}

.projects__name {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e6e6fa;
}

.projects__desc {
  font-family: "IBM Plex Sans", monospace, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #e6e6fa;
}

.experience {
  margin: 0 15vw;
}

.experience__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 800px;
}

.experience__title {
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: #e6e6fa;
}

.experience__title-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#00faa0), color-stop(#0587b9), color-stop(#001441), to(#001441));
  background-image: linear-gradient(to left, #00faa0, #0587b9, #001441, #001441);
  width: 100%;
  margin-left: 4rem;
  color: transparent;
}

@media only screen and (max-width: 1300px) {
  .about {
        grid-template-areas: "image" "desc" "skills";
  }
  __desc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: desc;
  }
  __image-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
  __skills-gradient {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: skills;
  }
}
/*# sourceMappingURL=main.css.map */