// Typography
$ff-ibm-plex-mono: "IBM Plex Mono", monospace, sans-serif;
$fw-ibm-plex-mono-regular: 400;
$fw-ibm-plex-mono-bold: 700;

$ff-ibm-plex-mono-sans: "IBM Plex Sans", monospace, sans-serif;
$fw-ibm-plex-sans-regular: 400;

// Headers - Mixins
@mixin desktop-heading-1 {
	font-family: $ff-ibm-plex-mono;
	font-size: 12rem;
	line-height: 12rem;
	font-weight: $fw-ibm-plex-mono-bold;
	color: $color-secondary;
}

@mixin desktop-heading-2 {
	font-family: $ff-ibm-plex-mono;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: $fw-ibm-plex-mono-bold;
	color: $color-neutral-primary;
}

@mixin desktop-heading-3 {
	font-family: $ff-ibm-plex-mono;
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: $fw-ibm-plex-mono-bold;
	color: $color-neutral-primary;
}

// Body Text - Mixins
@mixin desktop-body {
	font-family: $ff-ibm-plex-mono-sans;
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: $fw-ibm-plex-sans-regular;
	color: $color-neutral-primary;
}

@mixin desktop-body-small {
	font-family: $ff-ibm-plex-mono-sans;
	font-size: 1rem;
	line-height: 2rem;
	font-weight: $fw-ibm-plex-sans-regular;
	color: $color-neutral-primary;
}

@mixin link {
	font-family: $ff-ibm-plex-mono-sans;
	font-size: 1.125rem;
	line-height: 2rem;
	font-weight: $fw-ibm-plex-sans-regular;
	color: $color-secondary;
}

// Colors
$color-secondary: #00faa0;
$color-secondary-10: #00faa01a;
$color-tertiary: #0587b9;
$black: black;
$white: white;

@mixin color-primary($direction) {
	background-image: linear-gradient(
		#{$direction},
		$color-secondary,
		$color-tertiary,
		#001441,
		rgb(0, 20, 65)
	);
}

// Colors Background
$color-bg: #00050f;
$color-bg-90: #00050fe6;

// Neutral Colors
$color-neutral-primary: #e6e6fa;
$color-neutral-primary-60: #87879b;
$color-neutral-primary-30: #464956;
$color-neutral-primary-20: #2e323e;
$color-neutral-primary-15: #232733;

// Feedback Colors
$color-error: #dc0000;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-bg;
	color: white;
}

.bold-text {
	font-weight: bold;
}

.header {
	@include desktop-heading-3();

	font-family: $ff-ibm-plex-mono-sans;

	background-color: $color-bg;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 7rem;

	&__lang {
		display: flex;
		gap: 1rem;
	}

	&__button {
		background: none;
		font-family: $ff-ibm-plex-mono;
		font-size: 1.25rem;
		color: white;
		border: none;

		&:focus-within {
			font-weight: bold;
		}
	}
}

.navbar {
	list-style-type: none;
	display: flex;
	gap: 1.5rem;
	font-size: 1.1rem;

	&__link {
		text-decoration: none;
		color: white;
	}

	&__home {
		color: $color-secondary;
	}

	&__contact {
		color: $color-secondary;
		font-size: 1.2rem;
		border: 2px solid $color-secondary;
		border-radius: 8px;
		padding: 0.4em 1.5rem;
	}
}

.intro {
	padding: 9rem 0;
	overflow-x: hidden;

	&__hi {
		@include desktop-heading-2();

		padding: 0 7rem;
	}

	&__name {
		@include desktop-heading-1();
		@include color-primary("to right");

		white-space: nowrap;
		-webkit-text-fill-color: transparent;
		background-clip: text;
	}

	&__desc {
		@include desktop-body();

		margin-top: 3.5rem;
		padding: 0 7rem;
		width: 49%;
	}
}

.about {
	// margin: 0 15rem;
	margin: 0 15vw;
	padding: 2em 0;
	// max-width: 800px;
	width: 50vw;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"image desc"
		"skills skills";
	column-gap: 2rem;
	row-gap: 1.5rem;

	&__desc {
		grid-area: desc;
	}

	&__image-container {
		grid-area: image;
		@include color-primary("to bottom");
		margin: 1.5rem 1rem;
		border-radius: 8px;
		max-width: 27vw;
	}

	&__image {
		border-radius: 8px;
		transform: translate(1.1em, -0.8em);

		max-width: 30vmax;
	}

	&__title-container {
		display: flex;
		align-items: center;
	}

	&__title {
		@include desktop-heading-2();
	}

	&__title-bar {
		@include color-primary("to left");
		width: 100%;
		margin-left: 2rem;
		color: transparent;
	}

	&__desc-container {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__desc-item {
		@include desktop-body();
	}

	&__skills-gradient {
		grid-area: skills;

		border-radius: 8px;
		@include color-primary("to bottom");
	}

	&__skills-container {
		display: flex;

		justify-content: center;
		width: fit-content;
		gap: 2rem;
		padding: 2rem 1rem;

		margin: 0 auto;
		margin-top: 0.05em;
		border-radius: 8px;
		background-color: $color-bg;
		width: 99.5%;
		height: 99%;
	}

	.skills-title {
		@include desktop-heading-3();
	}

	&__skills-item {
		list-style: none;

		@include desktop-body();
	}

	&__skills-li {
		margin-left: 1.5rem;

		&::before {
			content: "\2022";
			color: $color-tertiary;
			font-weight: bold;
			display: inline-block;
			width: 1em;
			margin-left: -1em;
		}
	}
}

.services {
	// margin: 0 15rem;
	margin: 0 15vw;
	max-width: 800px;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__title-container {
		display: flex;
		align-items: center;
	}

	&__title {
		@include desktop-heading-2();
		margin: 2rem 0;
		position: relative;
	}

	&__title-bar {
		@include color-primary("to left");
		width: 100%;
		margin-left: 4rem;
		color: transparent;
	}

	&__ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 3rem;
		row-gap: 2rem;

		list-style: none;
	}

	.bullet {
		color: $color-secondary;
		padding: 1rem;
		padding-left: 1.2rem;
		padding-right: 1.4rem;
	}

	&__li {
		font-family: $ff-ibm-plex-mono;
		font-weight: $fw-ibm-plex-mono-bold;
		font-size: 1.5rem;
		display: flex;
		align-items: center;

		background-color: $color-neutral-primary-15;
		border-radius: 8px;
		padding: 1rem 0;
	}
}

.projects {
	margin-top: 6rem;

	&__title-container {
		display: flex;
		align-items: center;
		margin: 0 15vw;
		max-width: 800px;
	}

	&__title {
		@include desktop-heading-2();
	}

	&__title-bar {
		@include color-primary("to left");
		width: 100%;
		margin-left: 3.5rem;
		color: transparent;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, minmax(450px, 1fr));
		grid-template-rows: repeat(2, minmax(450px, 1fr));

		padding: 3rem 0;
	}

	&__card {
		background-color: darken($color-secondary, 35);
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: multiply;
		padding: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	$backgrounds: (
		beach: url("../images/beach.jpg"),
		camera: url("../images/camera.jpg"),
		coffee: url("../images/coffee.jpg"),
		jump: url("../images/jump.jpg"),
		path: url("../images/path.jpg"),
		starry: url("../images/starry.jpg"),
	);

	@each $name, $background in $backgrounds {
		.#{$name} {
			background-image: #{$background},
				linear-gradient(to top, mix($black, $white, 10), $white);

			&:hover {
				background-image: #{$background},
					linear-gradient(to top, $black 10%, $white);
				background-color: $color-secondary-10;
				background-blend-mode: multiply;
			}
		}
	}

	&__type {
		justify-self: flex-start;
		align-self: flex-end;

		font-family: $ff-ibm-plex-mono-sans;
		font-weight: bold;

		background-color: $color-secondary;
		width: fit-content;
		color: $color-neutral-primary-15;
		border-radius: 13px;
		padding: 0.1em 0.7em;
	}

	&__name {
		@include desktop-heading-3();
	}

	&__desc {
		@include desktop-body-small();
	}
}

.experience {
	margin: 0 15vw;

	&__title-container {
		display: flex;
		align-items: center;
		max-width: 800px;
	}

	&__title {
		@include desktop-heading-2();
	}

	&__title-bar {
		@include color-primary("to left");
		width: 100%;
		margin-left: 4rem;
		color: transparent;
	}

	&__timeline-container {
		max-width: 800px;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 4rem;
	}

	&__timeline-item {
		display: flex;
		gap: 5rem;
	}

	&__date {
		font-family: $ff-ibm-plex-mono;
		font-weight: $fw-ibm-plex-mono-bold;
		font-size: 1.25rem;
		white-space: nowrap;
		color: $color-secondary;
		margin-top: 0.2rem;
		position: relative;

		&::before {
			position: absolute;
			content: "\2022";
			font-size: 1.35rem;
			right: -2.5rem;
		}

		&::after {
			position: absolute;
			content: "";
			background-color: $color-secondary;
			width: 1px;
			height: 135%;
			right: -2.14rem;
			bottom: -4rem;
		}
	}

	&__text {
		&-title {
			@include desktop-heading-3();
		}

		&-date {
			font-family: $ff-ibm-plex-mono-sans;
			color: $color-neutral-primary-60;
		}

		&-desc {
			@include desktop-body-small();
		}
	}
}

.contact {
	height: 90vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;

	&__intro-container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		// justify-self: end;
		margin-right: -30rem;
	}

	&__title {
		@include desktop-heading-2();
		width: 65%;
	}

	&__title-bar {
		@include color-primary("to left");
		width: 60%;
		color: transparent;
	}

	&__email {
		font-family: $ff-ibm-plex-mono-sans;
		letter-spacing: 0.26px;
		color: $color-neutral-primary-60;
	}

	&__wrapper {
		@include color-primary("to bottom");
		padding: 1px;
		border-radius: 8px;

		margin-left: -15rem;
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-self: start;
		gap: 0.5rem;

		background-color: $color-bg;
		padding: 2rem;
		border-radius: 8px;

		::placeholder {
			color: $color-neutral-primary-60;
		}

		&-item {
			display: flex;
			flex-direction: column;
		}

		&-label {
			font-family: $ff-ibm-plex-mono-sans;
			font-size: 1.25rem;
		}

		&-text-input {
			background-color: $color-neutral-primary-15;
			height: 3rem;
			font-size: 1.25rem;
			padding: 0.5em;
			color: white;
			border: none;
			border-radius: 4px;
		}

		textarea {
			width: 368px;
			height: 184px;
		}
	}

	&__submit {
		align-self: flex-end;
		font-size: 1.25rem;
		padding: 0.5em 1em;
		background-color: $color-bg;
		border: 2px solid $color-secondary;
		border-radius: 8px;
		color: $color-secondary;
	}
}

@media only screen and (max-width: 1300px) {
	.about {
		grid-template-areas:
			"image"
			"desc"
			"skills";
	}
	&__desc {
		grid-area: desc;
	}
	&__image-container {
		grid-area: image;
	}
	&__skills-gradient {
		grid-area: skills;
	}
}
